################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AnyStore
/AnyStore/bin
/AnyStore/obj/Debug/netcoreapp3.1/staticwebassets
/AnyStore/obj
/Common/bin
/Common/obj
/DAL/bin
/DAL/obj
/Services/bin
/Services/obj
/.vs/config
/AnyStore/.config
/AnyStore/Properties/PublishProfiles
