body {
    position: absolute;
    width: 100%;
    min-height: 920px;
    background-color: #363636;
    color: #d5d5d5;
}
main {
    min-height: 820px;
}
.admin-main {
    width: 100%;
    height: 100%;
    display: flex;
}
.admin-nav {
    width: 20%;
    height: 100%;
    float: left;
}
.admin-body {
    width: 80%;
}
.k-pager-sizes{
    display: none!important;
}
.grid-header {
    display: flex;
}
.grid-header-label {
    width: 70%;
    padding-left: 10px;
    padding-top: 5px;
}
.grid-header-btn-dv {
    width: 30%;
    text-align: right;
    padding: 7px 15px;
}
.navbar-brand {
    color: #00b0ff!important;
}
.flex-grow-1 {
     flex-grow: unset!important; 
}
a.as-nav-link {
    color: #6D6D6D;
    padding-left: 20px;
}
.as-nav-link:hover {
    text-decoration: none;
}
.add-window {
    display: none;
}
span.k-tool-text {
    display: none;
}
.window-ls input{
    width: 100%;
}
.window-rs{
    margin-left: 6%;
}
.window-ls, .window-rs {
    width: 47%;
    float: left;
}
.window-c {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}
span.k-widget.k-combobox.k-header{
    width: 100%;
}
.k-switch-container {
    background-color: #FFF;
    border: 2px solid #D5D5D5;
}
.k-switch-on .k-switch-container {
    color: #fff;
    background-color: #F4620F;
}
.k-switch-handle {
    height: 27px;
    width: 27px;
    background-color: #D5D5D5;
    color: #D5D5D5;
}
#save_category_btn, #save_product_btn {
    float: right;
    margin-top: 20px;
    margin-right: 15px;
}
#cancel_save_category_btn, #cancel_save_product_btn {
    margin-top: 20px;
    float: right;
    margin-bottom: 10px;
}
.k-grid tbody .k-button {
    min-width: unset;
}
.w100{
    width: 100%;
}
.k-widget.k-tooltip-validation {
    position: absolute;
    top: 33px;
    left: 0px;
}
.k-upload .k-upload-button{
    overflow: inherit;
}
.k-upload-button input{
    width: 100%;
    height: 100%;
}
.image-template{
    height: 100px;
    margin: 10px;
}
#product_listView, #products_listView {
    border-top: none;
}
.form-25 {
    width: 24%;
    float: left;
    padding: 0.5%;
}
.form-50 {
    width: 49%;
    float: left;
    padding: 0.5%;
}
.form-container {
    width: 100%;
    margin: auto;
    display: flex;
}
.edit-buttons{
    float: right;
}
[aria-selected=false]>.edit-buttons{
    display: none;
}
[aria-selected=true] > .edit-buttons {
    display: block;
}