
@{
    ViewData["Title"] = "Login";
}

@model AccountViewModel

<form asp-action="SignIn" class="login-form">
    <div class="form-group">
        <label for="userName">Логин</label>
        <input required asp-for="UserName" type="text" class="form-control" id="userName" placeholder="Введите ваш логин">
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input required asp-for="Password" type="password" class="form-control" id="password" placeholder="Введите ваш пароль">
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>

    @if (Model != null && !String.IsNullOrEmpty(Model.Error))
    {
        <div class="login-error-msg">
            <span class="login-form-error">@Model.Error</span>
        </div>
    }

</form>

