
@{
    ViewData["Title"] = "Products";
    Layout = "_AdminLayout";
}

<div class="grid-header">
    <div class="grid-header-label">
        <h3>Товары</h3>
    </div>
    <div class="grid-header-btn-dv">
        <button id="open_add_product_window_btn" type="button">Добавить</button>
    </div>
</div>
<div id="dvProducts"></div>

<div class="add-window" id="add_window">
    <form id="product_form" enctype="multipart/form-data">
        <div class="form-container">
            <div class="form-20">
                <label for="product_name_inp">Название</label><br />
                <input class="w100" name="Name" id="product_name_inp" required /><br /><br />
            </div>
            <div class="form-20">
                <label for="product_title_inp">Заголовок</label><br />
                <input class="w100" name="Title" id="product_title_inp" required />
            </div>
            <div class="form-20">
                <label for="product_price_inp">Цена</label><br />
                <input class="w100" name="SellingPrice" value="0" min="0" id="product_price_inp" />
            </div>
            <div class="form-20">
                <label for="currencies_ddl">Валюта</label><br />
                <input class="w100" name="CurrencyId" id="currencies_ddl" required /><br /><br />
            </div>
            <div class="form-20">
                <label for="categories_ddl">Категория</label><br />
                <input class="w100" name="CategoryId" id="categories_ddl" required /><br /><br />
            </div>
        </div>

        <div class="form-container">
            <div class="form-50">
                <div id="product_image_wrapper">
                    <input type="file" name="Image" id="product_image" />
                    <div class="image-list-view" id="product_image_listView"></div>
                </div>
            </div>
            <div class="form-50">
                <div id="product_images_wrapper">
                    <input type="file" name="Images" id="product_images" />
                    <div class="image-list-view" id="product_images_listView"></div>
                </div>
            </div>
        </div>

        <div class="form-container">
            <div class="form-50">
                <label for="product_description_ta">Описание</label>
                <textarea name="Description" id="product_description_ta"></textarea>
            </div>
            <div class="form-50">
                <label for="product_description2_ta">Дополнительное описание</label>
                <textarea name="Description" id="product_description2_ta"></textarea>
            </div>
        </div>

        <button id="cancel_save_product_btn" type="button">Отмена</button>
        <button id="save_product_btn" type="button">Сохранить</button>
    </form>
</div>

<script type="text/x-kendo-tmpl" id="image_template">
    <div>
        <img class="image-template" src="data:image/jpeg;base64,#:src#" />
        <div class="edit-buttons">
            <a class="k-button k-button-icontext k-delete-button" href="\\#"><span class="k-icon k-i-delete"></span></a>
        </div>
    </div>
</script>

<script src="~/js/Products.js?v=2"></script>
<script>
    if (ProductsContext)
        ProductsContext.init();

</script>

