
@{
    ViewData["Title"] = "Products";
    Layout = "_AdminLayout";
}

<div class="grid-header">
    <div class="grid-header-label">
        <h3>Товары</h3>
    </div>
    <div class="grid-header-btn-dv">
        <button id="open_add_product_window_btn" type="button">Добавить</button>
    </div>
</div>
<div id="dvProducts"></div>

<script src="~/js/Products.js"></script>
<script>
    if (ProductsContext)
        ProductsContext.init();

</script>

