
@{
    ViewData["Title"] = "Акции";
    Layout = "_AdminLayout";
}

<h2>Promotions</h2>


<script src="~/js/Promotions.js"></script>
<script>
    if (PromotionContext)
        PromotionContext.init();

</script>

