
@{
    ViewData["Title"] = "Настройки";
    Layout = "_AdminLayout";
}

<h1>Настройки</h1>


<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="grid-header">
            <div class="grid-header-label">
                <h3>Валюта</h3>
            </div>
            <div class="grid-header-btn-dv">
                <button id="open_add_currency_window_btn" class="open-add-window-btn" type="button">Добавить</button>
            </div>
        </div>
        <div id="currency_grid"></div>
    </div>
</div>


<script src="~/js/Settings.js"></script>
<script>
    if (SettingsContext)
        SettingsContext.init();

</script>